@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    padding: 0 300px;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}

.topbg {
    background-size: cover;
    background-position: 0 1300px;
    background-image: url("./images/pexels-jacob-morch-572780.jpg");
}

.hero {
    padding: 100px 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.welcome {
    color: #f9faf8;
    font-size: 68px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px #000;
}

.herotext {
    color: #f9faf8;
    font-size: 20px;
    text-align: center;
}

button {
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.41);
    border: 2px solid white;
}

button.booknow {
    display: block;
    background: #008080;
    color: white;
    width: 175px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.mainimg {
    width: 500px;
    height: 200px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.41);
}

.texthead {
    text-align: center;
    margin-bottom: 52px;
    margin-top: 32px;
    font-size: 32px;
    font-weight: 900;
    color: #008080;
}

.infohead {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 68px;
    padding: 0 300px;
}

.text {
    margin-top: 24px;
    margin-bottom: 52px;
}

.quote {
    padding: 0 300px;
    height: 400px;
    background-color: #008080;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.39);
    -webkit-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.39);
}

.qtext {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #f9faf8;
    text-shadow: 2px 2px 4px #000;
}

.qper {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    padding-right: 100px;
}

.lower {
    background-size: cover;
    background-position: 0 750px;
    background-image: url("./images/Adigevalley.jpeg");
}

.lowhead {
    padding: 0 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 120px;
    width: 1400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #008080;
    box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.41);
    padding: 0 200px;
}

.cont-text {
    color: #f9faf8;
}

.cont-text h2 {
    text-shadow: 2px 2px 4px #000;
}

.cont-text p {
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px #000;
}

.booknowb {
    flex-shrink: 0;
    height: 36px;
    width: 150px;
    padding: 4px 24px;
    margin: 24px auto;
    background: #008080;
    color: #f9faf8;
}

footer {
    overflow: hidden;
    background: rgba(0, 0, 0, .4);
}

footer p {
    padding: 24px;
    text-align: center;
    color: #f9faf8;
}
